* {	/*debug*/
	outline: 1px solid red !important;
	}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}
body {
	margin: 0;
}
#content {
	margin: 0 auto;
	max-height: 1000px;
	max-width: 1000px;
	font-family: Helvetica;
	font: 12px/14px;
	padding: 5px;
	color: black;
}
.imagebox {
	max-width: 960px;	
}
.titleimagebox{
	display: flex;
}
.titleimagebox{
	display: flex;
}
.
.menutitle {
	display: flex;
	text-align: center;
}
.link{
	display: flex;
}
.linkstitlebox{
	padding: 5px;
}
.linklinkbox{
	padding: 5px;
}